.textarea {
    // background-color: coral;
    display: flex;
    align-items: center;

    .contador {
        // background-color: red;
        display: flex;
        justify-content: center;

        padding: 0rem 1.5rem;
        min-width: 1rem;
        max-width: 1rem;

        font-size: 0.8rem;
    }
}