.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;

    .sessaoPrincipal {
        // background-color: red;
        display: flex;
        justify-content: center;
        width: 90%;
    }
}

/* =-=-=-=-=-=-=-=-=-=-=-=- Media queries =-=-=-=-=-=-=-=-=-=-=-=- */
@media (max-width:1600px) {
    .wrapper {
        .sessaoPrincipal {
            // background-color: red;
            width: 100%;
        }
    }
}

/* hi-res laptops and desktops */
@media (max-width:1281px) {}

/* big landscape tablets, laptops, and desktops */
@media (max-width:1025px) {
    .wrapper {
        .sessaoPrincipal {
            // background-color: red;
            display: flex;
            justify-content: center;
            flex-direction: column;
            gap: 2rem;
            width: 100%;
        }
    }
}

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (max-width:801px) {}

/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
@media (max-width:600px) {
    .wrapper {
        // background-color: blue;

        .sessaoPrincipal {
            // background-color: red;
            gap: 1rem !important;
        }
    }
}

/* smartphones, Android phones, landscape iPhone */
@media (max-width:480px) {}