.main {
    // background-color: coral;
    display: flex;
    align-items: center;
    gap: 1rem;

    img {
        border-radius: 5px;
        min-width: 100px;
    }

    .infos {
        // background-color: pink;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 0.25rem;
        min-width: 12rem;
        max-width: 12rem;

        .titulo {
            color: var(--preto);
            font-weight: 500;
            font-size: 1rem;
            line-height: 1.2rem;
        }

        .texto {
            // background-color: blue;
            color: var(--preto);
            font-weight: 400;
            font-size: 0.9rem;
            line-height: 1.2rem;
            width: fit-content;
        }

        .vermelho {
            color: red;
        }
    }

    .divBotao {
        // background-color: red;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        margin-left: 1rem;
    }
}

/* =-=-=-=-=-=-=-=-=-=-= Media queries =-=-=-=-=-=-=-=-=-=-= */
/* hi-res laptops and desktops */
@media (max-width:1281px) {}

/* big landscape tablets, laptops, and desktops */
@media (max-width:1025px) {}

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (max-width:801px) {
    .main {
        .divBotao {
            button {
                font-size: 0.75rem !important;
            }
        }
    }
}

/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
@media (max-width:600px) {
    .main {
        // background-color: coral;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: auto;

        .divBotao {
            margin: auto;

            span {
                display: none;
            }

            button {
                width: 40vw;
            }
        }
    }
}

/* smartphones, Android phones, landscape iPhone */
@media (max-width:480px) {}