.sessaoDireita {
    // background-color: blue;
    width: 100%;
    padding: 0rem 2rem 2rem 2rem;
    display: flex;
    flex-direction: column;

    .divDados1 {
        box-shadow: 0 0 0 1px var(--bege);
        border-radius: 5px;

        .headerDivDados {
            background-color: var(--bege);
            height: 3rem;
            padding: 1rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 1rem;

            font-size: 0.8rem;
            font-weight: 600;
            color: var(--cor-principal);
        }

        .bodyDivDados {
            // background-color: red;
            display: flex;
            flex-direction: column;
            gap: 0.75rem;
            padding: 1rem;

            .divFormasPagamento {
                // background-color: red; 
                display: flex;
                gap: 0.8rem;
            }
        }
    }

    .divDados2 {
        // background-color: red;
        box-shadow: 0 0 0 1px var(--bege);
        border-radius: 5px;
        padding: 2rem 1.75rem;

        display: flex;
        justify-content: center;
        align-items: center;

        .divDados2Interna {
            // background-color: red;
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            

            div {
                // background-color: red;
                text-align: center;
                font-size: 0.8rem;

                span {
                    &:nth-child(1) {
                        // background-color: blue;
                        font-weight: 600;
                        color: var(--preto);
                    }

                    &:nth-child(2) {
                        // background-color: coral;     
                        color: var(--preto);
                    }
                }
            }
        }

        .centralizarTexto {
            text-align: center;
        }
    }

    .textoNegrito {
        color: var(--cinza);
        font-size: 1.5rem;
        font-weight: 600;
    }

    .texto {
        color: var(--cinza);
        font-weight: 400;
    }

    .textoCinza {
        color: #cac5bf;
        font-weight: 300;
        font-size: 0.8rem !important;
    }

    .botaoCustom {
        button {
            width: 100%;
            height: 3rem;
        }
    }

    .botaoCustom2 {
        button {
            background: #FFFFFF;
            color: #1A1A1A;
            border: 1px solid rgba(42, 42, 42, 25%);
            width: 100%;
            height: 3rem;
        }
    }
}

/* =-=-=-=-=-=-=-=-=-=-=-=- Media queries =-=-=-=-=-=-=-=-=-=-=-=- */
@media (max-width:1600px) {}

/* hi-res laptops and desktops */
@media (max-width:1281px) {}

/* big landscape tablets, laptops, and desktops */
@media (max-width:1025px) {}

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (max-width:801px) {}

/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
@media (max-width:600px) {
    .sessaoDireita {
        // background-color: blue;
        padding: 0rem 0.5rem 0.5rem 0.5rem;
    }
}

/* smartphones, Android phones, landscape iPhone */
@media (max-width:480px) {}