.sessaoEsquerda {
    background-color: var(--branco);
    display: flex;
    flex-direction: column;

    width: 25%;
    border-radius: 5px;

    .divCapaLojinha {
        // background-color: blue;
        background-repeat: no-repeat;
        background-position: center top;
        background-size: 100% 50%;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;

        .fotoPerfil {
            // background-color: red;
            display: flex;
            justify-content: center;
            align-items: center;

            margin: 1.5rem 0rem;

            img {
                border-radius: 50%;
                border: 2px solid var(--bege) !important;
            }
        }
    }

    .infosImportantes {
        // background-color: coral;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        padding: 0rem 1rem 0rem 1rem;
        margin-top: -0.5rem;
    }

    .outrasOpcoes {
        // background-color: blue;
        display: flex;
        justify-content: center;
        align-items: left;
        flex-direction: column;
        gap: 1.25rem;

        padding: 0rem 1.5rem 1.5rem 1.5rem;

        .opcao {
            // background-color: pink;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            span {
                color: var(--preto);
                font-size: 1rem;
                font-weight: 500;
            }

            .flexOpcao {
                // background-color: blue;
                display: flex;
                gap: 0.5rem;
            }

            .subOpcoes {
                // background-color: red;
                display: flex;
                flex-direction: column;
                gap: 0.3rem;
                margin-top: 0.1rem;
                margin-left: 1.6rem;

                span {
                    color: var(--preto);
                    font-size: 1rem;
                    font-weight: 400 !important;
                }
            }
        }
    }
}

/* =-=-=-=-=-=-=-=-=-=-= Media queries =-=-=-=-=-=-=-=-=-=-= */
/* hi-res laptops and desktops */
@media (max-width:1281px) {}

/* big landscape tablets, laptops, and desktops */
@media (max-width:1025px) {}

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (max-width:801px) {}

/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
@media (max-width:600px) {}

/* smartphones, Android phones, landscape iPhone */
@media (max-width:480px) {}