.main {
    background-color: pink;
    display: flex;
    gap: 1rem;

    .sessaoEsquerda {
        background-color: coral;
        width: 25%;
    }

    .sessaoDireita {
        background-color: purple;
        width: 75%;
    }
}