.divPesquisa {
    // background-color: red;
    width: 48%;
    display: flex;
    justify-content: center;
    gap: 1rem;
    transition: width 0.3s;

    .inputPesquisaNavbar {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        padding: 0.75rem 0.9rem;
        border: 1px solid var(--bege);
        box-shadow: 0 0 1px var(--cor-principal);
        border-radius: 5px;

        -webkit-appearance: textfield;
        appearance: textfield;
        background: transparent;
        color: inherit;
        font-family: inherit;
        font-size: 16px;
        font-weight: 500;
        line-height: 1;
        outline: none;
        transition: all 0.2s ease-in;

        &::-webkit-input-placeholder {
            color: #dad7d5;
        }

        &:focus{
            border: 1px solid var(--cor-principal);
            transition: all 0.2s ease-in;
        }
    }

    .lupa {
        // background-color: blue;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
}

.divPesquisaFullWidth {
    // background-color: red;
    width: 70%;
    transition: width 0.3s;
}

/* =-=-=-=-=-=-=-=-=-=-= Media queries =-=-=-=-=-=-=-=-=-=-= */
@media (max-width:1450px) {}

/* hi-res laptops and desktops */
@media (max-width:1281px) {}

/* big landscape tablets, laptops, and desktops */
@media (max-width:1025px) {}

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (max-width:801px) {
    .divPesquisa {
        // background-color: red;
        width: 60%;
    }
}

/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
@media (max-width:600px) {
    .divPesquisa {
        // background-color: red;
        width: 70%;
    }
}

/* smartphones, Android phones, landscape iPhone */
@media (max-width:480px) {}