.sessaoDireita {
    width: 75%;

    .main {
        background-color: var(--branco);
        padding: 0.75rem;
        border-radius: 5px;

        .sessao {
            // background-color: coral;
            display: flex;
            flex-direction: column;
            padding: 0.9rem;

            .divInput {
                // background-color: blue;
                display: flex;
                gap: 1rem;

                .item {
                    // background-color: red;
                    display: flex;
                    align-items: center;
                    min-width: 10rem;
                    max-width: 10rem;
                }
            }
        }
    }
}

/* =-=-=-=-=-=-=-=-=-=-= Media queries =-=-=-=-=-=-=-=-=-=-= */
/* hi-res laptops and desktops */
@media (max-width:1281px) {}

/* big landscape tablets, laptops, and desktops */
@media (max-width:1025px) {
    .sessaoDireita {
        // background-color: purple;
        width: 100%;
    }
}

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (max-width:801px) {}

/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
@media (max-width:600px) {}

/* smartphones, Android phones, landscape iPhone */
@media (max-width:480px) {}