.sessaoDireita {
    background-color: var(--branco);
    width: 75%;
    padding: 1.25rem;
    border-radius: 5px;
}

/* =-=-=-=-=-=-=-=-=-=-= Media queries =-=-=-=-=-=-=-=-=-=-= */
/* hi-res laptops and desktops */
@media (max-width:1281px) {}

/* big landscape tablets, laptops, and desktops */
@media (max-width:1025px) {
    .sessaoDireita {
        // background-color: purple;
        width: 100%;
    }
}

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (max-width:801px) {}

/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
@media (max-width:600px) {}

/* smartphones, Android phones, landscape iPhone */
@media (max-width:480px) {}