.wrapper {
    background-color: var(--preto);
    width: 100vw;
    height: 100vh;
    overflow-y: auto;

    display: flex;
}

.wrapper section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.divEsquerda {
    /* background-color: pink; */
    width: 50%;
    /* height: 100%; */
    height: 90%;
}

.titulo {
    color: var(--branco);
    font-size: 2.5rem;
    font-weight: 600;
    letter-spacing: -1px;
}

.subtitulo {
    color: var(--branco);
    font-size: 1rem;
    font-weight: 500;
}

.divisao {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    text-align: center;
    font-size: 14px;
    color: #bababa;
    line-height: 8px;
    margin: 5px auto 8px;
}

.divisao::after {
    content: "";
    margin-top: 3px;
    margin-left: 1em;
    flex: 1 1 0%;
    border-bottom: 2px solid var(--cor-border-hr);
}

.divisao::before {
    content: "";
    margin-top: 3px;
    margin-right: 1em;
    flex: 1 1 0%;
    border-bottom: 2px solid var(--cor-border-hr);
}

.divDireita {
    background-color: var(--super-preto);
    width: 50%;
}

.video {
    height: 100%;
    width: 100%;
    object-fit: contain;
    /* object-fit: cover;
    object-position: center top; */
}

.divLogin{
    /* background-color: red; */
    max-width: 300px;
}

/* =-=-=-=-=-=-=-=-= Botão =-=-=-=-=-=-=-=-= */
.botaoCustom button {
    width: 300px;
    background: var(--cor-principal);
}

.botaoCustom2 button {
    width: 300px;
    background: var(--cor-principal-opaca);
}

/* =-=-=-=-=-=-=-=-= Margens =-=-=-=-=-=-=-=-= */
.margemTopXP {
    margin-top: 0.5rem;
}

.margemTopP {
    margin-top: 1rem;
}

.margemTopM {
    margin-top: 1.5rem;
}

/* =-=-=-=-=-=-=-=-= Checkbox =-=-=-=-=-=-=-=-= */
.checkbox {
    color: #f3f3f3;
    display: flex;
}

.checkbox label{
    margin-left: 5px;
}
 
/* =-=-=-=-=-=-=-=-=-=-=-=- Media queries =-=-=-=-=-=-=-=-=-=-=-=- */
/* hi-res laptops and desktops */
@media (max-width:1281px) {
    .divEsquerda {
        /* background-color: pink; */
        width: 100%;
    }

    .divDireita {
        width: 0%;
    }
}

/* big landscape tablets, laptops, and desktops */
@media (max-width:1025px) {
    .titulo {
        font-size: 2rem;
    }

    .subtitulo {
        font-size: 0.9rem;
    }
}
