.sessaoPrincipal {
    /* background-color: red; */

    display: flex;
}

.sessaoEsquerda {
    /* background-color: yellow; */
    width: 50%;

    display: flex;
    justify-content: center;
}

.sessaoEsquerda img {
    width: 30vw !important;
    border-radius: 10px;
}

.sessaoDireita {
    /* background-color: blue; */
    width: 50%;

    display: flex;
    flex-direction: column;
}

.efeitoImagemHover {
    border-radius: 5px;
    cursor: pointer;
    filter: grayscale(10%);
    /* filter: grayscale(100%) blur(0.5px); */
    transition: 0.5s ease-in-out;
}

.efeitoImagemHover:hover {
    filter: grayscale(0%) blur(0px) contrast(110%);
    transform: scale(1.01);
    transition: 0.5s ease-in-out;
}

.textoNegrito {
    color: var(--preto);
    font-size: 1.25rem;
    font-weight: 600;
}

.botaoCustom button {
    width: 60%;
}