.navbar {
    background-color: var(--branco);
    color: var(--preto);
    height: 80px;
    width: 100vw;
    border-bottom: 1px solid var(--cor-border-hr);

    display: flex;
    justify-content: center;
    align-items: center;

    .wrapper {
        /* background-color: pink; */
        width: 85%;
        display: flex;
        align-items: center;

        .divEsquerda {
            /* background-color: red; */
            width: 100%;
            display: flex;
            justify-content: left;
        }

        .divDireita {
            /* background-color: turquoise; */
            width: 100%;
            display: flex;
            justify-content: right;
        }

        a {
            // background-color: pink; 
            color: var(--preto);
            font-size: 16px;
            font-weight: 500;
            line-height: 1;
            white-space: nowrap;

            padding: 5px 14px;
            opacity: 0.7;
            border-radius: 12px;

            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
                opacity: 1;
                height: 40px;
                background: var(--cinza);
                color: var(--preto);
                transition: opacity .2s, color .2s;
                -webkit-transition: .2s, color .2s;

                svg {
                    path {
                        stroke: var(--branco) !important;
                    }
                }
            }

            &:nth-child(1) {
                &:hover {
                    color: var(--branco);

                    svg {
                        path {
                            stroke: var(--cor-principal) !important;
                            fill: var(--cor-principal) !important;
                        }
                    }
                }
            }
        }
    }
}

/* =-=-=-=-=-=-=-=-=-=-= Sessão do Hamburguer ativo (não pensei em uma nomenclatura melhor) =-=-=-=-=-=-=-=-=-=-= */
.sessaoHamburguer {
    background-color: var(--super-preto);
    position: absolute;
    right: 0;
    z-index: 9999 !important;

    width: 60%;
    height: 100vh;

    padding: 2rem;
    color: var(--branco);

    display: flex;
    flex-direction: column;

    .divDireita {
        /* background-color: turquoise; */
        width: 100%;
        display: flex;
        justify-content: right;
    }

    .divAtalhos {
        /* background-color: red; */
        display: flex;
        flex-direction: column;
        row-gap: 0.8rem;

        font-weight: 500;
        margin-top: 1rem;
        font-size: 1.2rem;

        a {
            transition: .2s ease-in-out;

            &:hover {
                color: var(--cor-principal) !important;
                opacity: 1 !important;
                transition: .2s ease-in-out;
            }
        }
    }

    .sessaoBotoes {
        /* background-color: red; */
        display: flex;
        flex-direction: column;
        row-gap: 0.8rem;
        margin-top: 1rem;

        .botaoCriarConta {
            button {
                width: 100%;
                background: var(--branco);
                color: var(--preto);
            }
        }

        .botaoPadrao {
            button {
                width: 100%;
            }
        }
    }
}

/* =-=-=-=-=-=-=-=-=-=-= Media queries =-=-=-=-=-=-=-=-=-=-= */
/* big landscape tablets, laptops, and desktops */
@media (max-width:1025px) {}

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (max-width:801px) {}

/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
@media (max-width:600px) {
    .sessaoHamburguer {
        width: 80%;
    }
}

/* smartphones, Android phones, landscape iPhone */
@media (max-width:480px) {}