.navbar {
    background-color: var(--super-preto);
    color: var(--branco);

    height: 32px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-bottom: 1px solid var(--cor-border-hr);
}

.navbar span {
    margin: 0 2px;
    font-size: 14px;
    font-weight: 500;
}

.navbar span:nth-child(2) {
    opacity: 0.8;
}

.navbar span:nth-child(3) {
    margin: 0 12px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar span:nth-child(3) svg {
    margin-top: 2.5px;
}

/* =-=-=-=-=-=-=-=-=-=-= Media queries =-=-=-=-=-=-=-=-=-=-= */
@media (max-width:739px) {
    .navbar {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        height: fit-content;
    }

    .navbar span {
        margin: 0 2px;
        font-size: 12px;
        font-weight: 500;
        text-align: center;
    }

    .navbar span:nth-child(2),
    .navbar span:nth-child(3) {
        display: none;
    }
}