.flexEntrar {
    // background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
    gap: 7rem;
    overflow: hidden;

    .divLottie {
        // background-color: blue;
        width: 50%;
    }
}

.divPrincipal {
    // background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    overflow: hidden;

    .titulo {
        // background-color: red;
        color: var(--preto);
        font-size: 2.5rem;
        font-weight: 600;
        letter-spacing: -1px;
        white-space: nowrap;
        text-align: center;
    }

    .subtitulo {
        color: var(--preto);
        font-size: 1rem;
        font-weight: 500;
    }

    .divisao {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        text-align: center;
        font-size: 14px;
        color: #bababa;
        line-height: 8px;
        margin: 5px auto 8px;

        &::after {
            content: "";
            margin-top: 3px;
            margin-left: 1em;
            flex: 1 1 0%;
            border-bottom: 2px solid var(--cor-border-hr);
        }

        &::before {
            content: "";
            margin-top: 3px;
            margin-right: 1em;
            flex: 1 1 0%;
            border-bottom: 2px solid var(--cor-border-hr);
        }
    }

    .divLogin {
        /* background-color: red; */
        max-width: 300px;
    }

    /* =-=-=-=-=-=-=-=-= Botão =-=-=-=-=-=-=-=-= */
    .botaoCustom {
        button {
            width: 300px;
            background: var(--cor-principal);
            // color: var(--preto);
            color: #ffffff;
        }
    }

    .botaoCustom2 {
        text-align: left !important;

        button {
            width: 300px;
            background: var(--cor-principal-opaca);
            color: var(--preto);

            display: flex;
            justify-content: space-evenly;
        }
    }

    /* =-=-=-=-=-=-=-=-= Checkbox =-=-=-=-=-=-=-=-= */
    .checkbox {
        color: #f3f3f3;
        display: flex;

        label {
            margin-left: 5px;
        }
    }
}

/* =-=-=-=-=-=-=-=-=-=-=-=- Media queries =-=-=-=-=-=-=-=-=-=-=-=- */
@media (max-width:1600px) {
    .flexEntrar {
        // background-color: red;

        .divLottie {
            // background-color: blue;
            width: 40%;
        }
    }

    .divPrincipal {
        .titulo {
            // background-color: red;
            font-size: 2.2rem;
        }
    }
}

/* hi-res laptops and desktops */
@media (max-width:1281px) {
    .flexEntrar {
        // background-color: red;
        height: fit-content;
        margin-top: 2rem;

        .divLottie {
            display: none;
        }
    }

    .divPrincipal {
        // background-color: pink;
        width: 100%;
    }
}

/* big landscape tablets, laptops, and desktops */
@media (max-width:1025px) {
    .divPrincipal {
        .titulo {
            font-size: 2rem;
        }

        .subtitulo {
            font-size: 0.9rem;
        }
    }
}

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (max-width:801px) {
    .divPrincipal {
        // background-color: red;

        .titulo {
            // background-color: red;
            font-size: 1.7rem;
        }
    }
}

/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
@media (max-width:600px) {}

/* smartphones, Android phones, landscape iPhone */
@media (max-width:480px) {}