.containerWidgets {
    /* background-color: pink; */
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 1.5rem;
}

.containerWidgets img {
    border-radius: 10px;
    cursor: pointer;
    filter: grayscale(35%) blur(0.5px);
    transition: 1s ease-in-out;
}

.containerWidgets img:hover {
    filter: grayscale(0%) blur(0px) contrast(101%);
    /* transform: scale(1.01); */
    transition: 0.5s ease-in-out;
}

.wrapImagem {
    /* background-color: pink; */
    position: relative;
    display: flex;
}

.infoBottomLeft {
    background-color: red;
    position: absolute;

    left: 0.7rem;
    bottom: 0.7rem;
    z-index: 999;
}

.divGrupoImagens {
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* =-=-=-=-=-=-=-=-=-=-= Media queries =-=-=-=-=-=-=-=-=-=-= */
/* hi-res laptops and desktops */
@media (max-width:1281px) {}

/* big landscape tablets, laptops, and desktops */
@media (max-width:1025px) {}

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (max-width:801px) {
    .containerWidgets {
        /* background-color: pink; */
        flex-direction: column;
    }

    .divGrupoImagens {
        /* background-color: red; */
        flex-direction: row;
    }
}

/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
@media (max-width:600px) {}

/* smartphones, Android phones, landscape iPhone */
@media (max-width:480px) {}